pkgbase = gen-license
	pkgdesc = Create licenses for your projects right from your terminal!
	pkgver = 0.1.1
	pkgrel = 2
	url = https://github.com/nexxeln/license-generator
	arch = x86_64
	license = MIT
	makedepends = cargo
	source = gen-license-0.1.1.tar.gz::https://static.crates.io/crates/gen-license/gen-license-0.1.1.crate
	validpgpkeys = 86395E99314F4E382517AF976558C915A20CDD93
	md5sums = 4893275e1e08b10d9982acbf9cc39604

pkgname = gen-license
